<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="{{ url_for('static', filename='aboutMe.css') }}" rel="stylesheet">
        <title>
            About Me
        </title>
    </head>

    <body class="center">
        <h1 class="heading">
            Hello!
        </h1>

        <p class="info">
            My name is Jayce, and this is The Bakery! <br>
            <br>
            The entire purpose of this website is to bring two of my <br>
            favorite passions, baking and programming, into one whole passion project. <br>
            <br>
            I started baking during the pandemic because of my dad. <br>
            He would bake cookies or brownies every once in a while and I ended up being interested in it. <br>
            <br>
            Because of this, baking started to become something that I love. <br>
            I have kept this passion for so long because of my main goal. <br>
            My main goal with my baking is to see people smile or light up when they eat what I bake. <br>
            <br>
            I started programming in my sophomore year of high school. <br>
            I wanted to take the test for AP Computer Science A, which was Java based programming.<br>
            I started practicing to code for the test in 2024 and have been on and off with coding ever since.<br>
            This is something that I really want to do as my profession and this is the result of it. <br>
            <br>
            I don't know what I want to do specifically so I started with web development.<br>
            This is my first ever fully published project that is a result from coding and I am really proud of it.<br>
            It was hard to do, but with a little guidance and learning, I managed to create this website.<br>
            <br>
            If you have any questions you can contact me on Instagram: @whyhellotheirperson or email me: jayceambrocio@gmail.com


        </p>
    </body>
</html>