<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="{{ url_for('static', filename='baking.css') }}" rel="stylesheet">
        <title>
            The Bakery
        </title>
    </head>

    

    <body class="center">
        <h1 class="top">
            Welcome!
        </h1>
        

        <button class="placeOrder">
            Place Order
        </button>

        <button class="aboutMe">
            About Me
        </button>

        

        <script src="{{ url_for('static', filename='baking.js') }}"></script>
    </body>

</html>